*{
  margin: 0;
}

div {
  white-space:pre-line;
} 

.side-bar {
  display: flex;
  flex-direction: column;
}


.side-bar .container {
  margin: 0.5rem;
  gap: 10px 10px;
}

/* add gap in list - if not the last item apply margin */
.side-bar li:not(:last-child) {
    margin-bottom: 0.5rem;
}

.acc-circle {
  width: 25px;
  height: 25px;
  line-height: 25px;
  border-radius: 50%;
  font-size: 12px;
  color: rgb(255, 255, 255);
  text-align: center;
  background: rgb(101, 101, 101);
}