*{
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.App {
  display: flex;
  flex-direction: row;
}

div {
  white-space:pre-line;
} 

.container-column {
  display: flex;
  align-items: center;
  padding: 0.5rem;
  gap: 0.5rem;
  margin-top: 0.5rem;
}

.nav-bar {
  color: white;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: space-between;
  gap: 0.05rem;
  background:rgb(40, 40, 40);
  width: 200px;
  height: 100vh;
}

.nav-bar .container {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.nav-bar .custom-lists {
  margin: 1rem;
}

.nav-bar ul {
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  /* border: 5px solid blue; */
}

.nav-bar li {
  /* border: 1px solid red; */
}

/* add gap in list - if not the last item apply margin */
.nav-bar li:not(:last-child) {
  margin-bottom: 0.75rem;
}

.nav-bar-link {
  text-decoration: none;
  color: white;
  margin-left: 1rem;
  text-indent: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

.nav-bar-link-active {
  text-decoration: none;
  color: white;
  background-color: grey;
  background-size: contain;
  display: inline-block;
  width: 100%;
  text-indent: 1rem;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
}

/* Search Bar */
.search-bar {
  margin: 10px;
}

form {
  color: white;
  background-color: rgb(53, 53, 53);
  display: flex;
  margin: 0rem 0.5rem;
  align-items: center;
  padding: 1px 0px 0px 10px;
  border: 1px solid #555;
  border-radius: 7px;
  height: 1.2rem;
}

form:focus {
  border: 0.2rem solid #3C78A3;
  outline: none;
}

input[type="search"] {
  border: none;
  color: white;
  width: 100%;
  padding: 9px 4px 9px 10px;
  border-radius: inherit;
  background: transparent;
  /* background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center; */
}

input[type="search"]::placeholder {
  color: white;
}

/* ACTION: get border working across entire form */
input[type="search"]:focus {
  /* border: 0.2rem solid #3C78A3; */
  outline: none;
}
/* Search Bar end*/

hr {
  width: 100%;
  height: 1px;
  border: none;
  margin-left: auto;
  margin-right: auto;
  background-color:#424242;
}

.subtext {
  font-size: 0.8rem;
  color: rgb(155, 155, 155)
}

.acc-circle {
  width: 30px;
  height: 30px;
  line-height: 30px;
  border-radius: 50%;
  font-size: 12px;
  color: white;
  text-align: center;
  background: #1F2427;
}

.new-list {
  color: white;
  position: fixed;
  bottom: 0;
  margin: 10px 20px;
  font-weight: 500;
}

h1 {
  font-size: 1.8rem;
  margin: 2rem 1rem;
  position: absolute;
  color: white;
}

h2 {
  font-size: 0.85rem;
  margin: 4.1rem 1.25rem;
  position: absolute;
  color: white;
}

.main-content {
  width: 80%;
}


.main-content .my-day {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: url('./Static/Images/background-MyDay.png') no-repeat center center fixed;
  background-size: cover;
  margin: auto;
  padding: 0;
}

.main-content .planned, .all, .flagged-email, .tasks{
  background: #1E1E1E;
  width: 100vw;
  height: 100vh;
}

.my-day .add-a-task-bar {
  position: fixed;
  bottom: 0;
  margin: 5px;
  width: 82vw;
  height: 30px;
}

.planned h1 {
  color: #8BD3CE;
}

.all h1 {
  color: #FFE1BB;
}

.flagged-email h1 {
  color: #F5B5C2;
}

.tasks {
  display: flex;
  flex-direction: column;
}

.tasks h1 {
  color: #788CDE;
  position: relative;
}

.task-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 2.5rem;
  width: 89%;
  background-color:#323232;
  border-radius: 0.1rem;
  margin-top: 0.05rem;
  margin-bottom: 0.07rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

.task-card-check {
  height: 1rem;
  width: 1rem;
  margin-left: 0.75rem;
  background-color: none;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.125rem;
  border-color: #9B9B9B;
  display: inline-block;
}

.task-card p {
  font-size: 0.8rem;
  color: white;
  display: inline-block;
  margin-left: 0.75rem;
}